* {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

.section-1 {
    background-image: url(images/donation-pic.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.center {
    text-align: center;
    padding-top: 150px;
    text-align: justify center;

}

.section-1 h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 70px;
}

.section-1 p {
    color: lightgray;
    margin: 10px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.link-button {
    background-color: coral;
    border-radius: 5px;
    padding: 8px 16px;
    color: white;
    margin-top: 30px;
    font-size: larger;
    cursor: pointer;
    border: 0;
}

.center-item-2 {
    text-align: center;
    padding-top: 120px;

}

.section-2 p {
    color: black;
    margin: 10px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-size: medium;
    letter-spacing: 0;
}

.section-2 h2 {
    font-size: 40px;
    letter-spacing: 1px;
}

.money {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.money div {
    background-color: whitesmoke;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 2px 2px 6px;
}

.money div:hover {
    background-color: gray;
}

.amount {
    text-align: center;
    margin: 30px 0px 20px 0px;
}

.amount button {
    background-color: coral;
    cursor: pointer;
    padding: 3px 7px 3px 7px;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 13px;
}

.payment-btn button {
    background-color: coral;
    border: none;
    color: white;
    padding: 5px 32px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 45.2%;
    cursor: pointer;
    border-radius: 5px;
}

.donate-plan {
    text-align: center;
    margin-top: 100px;
}

.donate-plan h2 {
    font-size: 30px;
}

.flexible-content {
    display: flex;
    width: 96%;
    margin-top: 50px;
    margin-left: 11%;
    height: 270px;
    width: 1200px;
}

.card-1 {
    background-color: lightgoldenrodyellow;
    margin-left: 30px;
    padding: 40px;
    border-radius: 15px;
}

.card-2 {
    background-color: lightpink;
    margin-left: 50px;
    margin-right: 20px;
    padding: 40px;
    border-radius: 15px;
}

.card-3 {
    background-color: lightsteelblue;
    margin-left: 30px;
    padding: 40px;
    border-radius: 15px;
}

.card-2 img {
    height: 60px;

}

.section-4 {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;

}

.half-width {
    width: 40%;
    margin-left: 150px;

}

.half-width img {
    width: 80%;
    height: 350px;
}

.half-width h2 {
    font-size: 40px;
}

.donate-btn {
    display: block;
    text-decoration: none;
    background-color: coral;
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    width: 100px;
}

.notify {
    text-align: center;
}

.section-5 h2 {
    font-size: 30px;
    font-weight: bolder;
}

.section-5 {
    background-color: lightskyblue;
    height: 130px;
    margin-bottom: 80px;
}

.email-add {
    text-align: center;
    margin-top: 10px;
}

.info {
    text-decoration: none;
    background-color: crimson;
    padding: 1px 10px 1px 10px;
    color: white;
    border-radius: 10px;
}

footer p {
    background-color: black;
    color: red;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}